{{ define "main" }}
<section class="card-section">
    <div class="card-grid">

        {{ range .Pages }}

        <article
                class="card {{ if .Params.tribute }}card--tribute{{ end }}"
                {{ with .Params.cover }}
                style="background-image: url('{{ . }}');"
                {{ end }}
        >
            <a href="{{ .RelPermalink }}" class="card-link">
                <div class="card-reveal">
                    <h3 class="card-title">{{ .Title }}</h3>

                    {{ if .Params.tribute }}
                    <p class="card-desc">{{ .Params.subtitle }}</p>
                    {{ else }}
                    <p class="card-desc">{{ .Summary }}</p>
                    {{ end }}

                </div>
            </a>
        </article>

        {{ end }}

    </div>
</section>
{{ end }}
